<footer class="bg-footer d-flex align-content-center justify-content-center py-3">
    <h5 class="text-black text-center m-0">@Derechos reservados 2023 López Robles Jesús Daniel</h5>
</footer>
</body>
<script src="./js/bootstrap.bundle.min.js"></script>
<script src="./js/alumnos-edit.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>