<%- include('partials/header.html') %>
<main class="container-lg mh py-4">
    <form class="mt3 border border-3 p3 rounded bg-white" id="form">
        <div class="mb-2">
            <label for="id" class="form-label">Id:</label>
            <input type="number" id="id" name="id" class="form-control" value="<%= alumno.id %>" placeholder="Id" disabled required>
        </div>
        <div class="mb-2">
            <label for="matricula" class="form-label">Matricula:</label>
            <input type="text" id="matricula" name="matricula" class="form-control" value="<%= alumno.matricula %>" placeholder="Matricula" maxlength="45" required>
        </div>
        <div class="mb-2">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" id="nombre" name="nombre" class="form-control" value="<%= alumno.nombre %>" placeholder="Nombre" maxlength="45" required>
        </div>
        <div class="mb-2">
            <label for="domicilio" class="form-label">Domicilio:</label>
            <input type="text" id="domicilio" name="domicilio" class="form-control" value="<%= alumno.domicilio %>" placeholder="Domicilio" maxlength="45" required>
        </div>
        <div class="mb-2">
            <label for="Sexo" class="form-label">Sexo:</label>
            <input type="text" id="sexo" name="sexo" class="form-control" value="<%= alumno.sexo %>" placeholder="Sexo" maxlength="45" required>
        </div>
        <div class="mb-2">
            <label for="especialidad" class="form-label">Especialidad:</label>
            <input type="text" id="especialidad" name="especialidad" class="form-control" value="<%= alumno.especialidad %>" placeholder="Especialidad" maxlength="45" required>
        </div>
        <div class="d-flex flex-wrap justify-content-end gap-2 mb-2">
            <button class="btn btn-success" id="btnActualizar">
                Actualizar
            </button>
            <button class="btn btn-info text-white" type="reset">
                Limpiar
            </button>
        </div>
    </form>
    <div class="modal fade" id="alertModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="alertTitle">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="alertMessage">Modal body text goes here.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</main>

<%- include('partials/footer-edit.html') %>