<%- include('partials/header.html') %>
<main class="container-lg mh py-4">
    <form class="mt3 border border-3 p3 rounded bg-white" id="form">
        <div class="mb-2">
            <label for="matricula" class="form-label">Matricula:</label>
            <input type="text" id="matricula" name="matricula" class="form-control" placeholder="Matricula" maxlength="45" required>
        </div>
        <div class="mb-2">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" maxlength="45" required>
        </div>
        <div class="mb-2">
            <label for="domicilio" class="form-label">Domicilio:</label>
            <input type="text" id="domicilio" name="domicilio" class="form-control" placeholder="Domicilio" maxlength="45" required>
        </div>
        <div class="mb-2">
            <label for="Sexo" class="form-label">Sexo:</label>
            <input type="text" id="sexo" name="sexo" class="form-control" placeholder="Sexo" maxlength="1" required>
        </div>
        <div class="mb-2">
            <label for="especialidad" class="form-label">Especialidad:</label>
            <input type="text" id="especialidad" name="especialidad" class="form-control" placeholder="Especialidad" maxlength="45" required>
        </div>

        <div class="d-flex flex-wrap justify-content-end gap-2 mb-2">
            <button class="btn btn-success" id="btnAgrgar" type="submit">
                Agregar
            </button>
            <button class="btn btn-warning" id="btnConsultar">
                Consultar
            </button>
            <button class="btn btn-info text-white" type="reset">
                Limpiar
            </button>
        </div>
        <% try { %>
        <% if (alumnos.length > 0) { %>
        <div class="scrollable mb-2">
            <table id="results" class="table table-light table-hover mt-2 mb-0 align-middle">
                <thead class="sticky-top">
                    <tr>
                        <th scope="col" width="5%" class="text-center">Id</th>
                        <th scope="col" width="5%" class="text-center">Matricula</th>
                        <th scope="col" width="5%" class="text-center">Nombre</th>
                        <th scope="col" width="5%" class="text-center">Domicilio</th>
                        <th scope="col" width="5%" class="text-center">Sexo</th>
                        <th scope="col" width="5%" class="text-center">Especialidad</th>
                        <th scope="col" width="5%" class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% alumnos.forEach(element=> { %>
                        <tr>
                            <td class="text-center">
                                <%= element.id %>
                            </td>
                            <td class="text-center">
                                <%= element.matricula %>
                            </td>
                            <td class="text-center">
                                <%= element.nombre %>
                            </td>
                            <td class="text-center">
                                <%= element.domicilio %>
                            </td>
                            <td class="text-center">
                                <%= element.sexo %>
                            </td>
                            <td class="text-center">
                                <%= element.especialidad %>
                            </td>
                            <td class="text-center">
                                <a onclick="eliminarAlumno('<%= element.id %>')" class="btn btn-danger">Eliminar</a>
                                <a href="/update/<%= element.id %>" class="btn btn-dark">Actualizar</a>
                            </td>
                        </tr>
                        <%});%>
                </tbody>
            </table>
        </div>
        <% } else { %>
            <div class="mb-2">
                <div class="alert alert-primary d-flex align-items-center" role="alert">
                    <img src="/img/info.svg" alt="Icono de información" class="me-2">
                    <div> No existen registros de Alumnos</div>
                </div>
            </div>
            <% } %>
            <% } catch (error) { %>
            <div class="mb-2">
                <div class="alert alert-primary d-flex align-items-center" role="alert">
                    <img src="/img/info.svg" alt="Icono de información" class="me-2">
                    <div> No existen registros de Alumnos</div>
                </div>
            </div>
            <% } %>
    
    </form>

    <div class="modal fade" id="alertModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="alertTitle">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="alertMessage">Modal body text goes here.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

</main>

<%- include('partials/footer.html') %>